body {
  font-family: "Montserrat";
}


h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-family: "Ubuntu";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}


.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.image {
  width: 60%;
  transform: rotate(25deg);
}

.feature-col {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ff4c68;
}

.dog {
  border-radius: 50%;
  width: 10%;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
